*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: inter;
}


body {
    height:100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display:flex;
    justify-content: space-between;
    padding-top:  60px;
    height:10%;
}

.logo p{
    padding-left:80px;
    font-weight: bold;
    font-size: 1.1rem;
}

.nav-bar{
    display:flex;
    padding-right:60px;
    justify-content: space-evenly;
    width:600px;
}

.nav-bar__button{
        height:30px;
        border:none;
        background-color: white;
        font-size: 0.9rem;
        font-weight: 500;
        color:black;
        text-decoration: none;
}

#focus-page {
    color:#207FEE;
    font-weight: 700;
}

main{
    height:80%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    display: flex;
    flex-direction: row;
    gap:35px;
}


.input-container{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-container span {
    width:120px;
    font-weight: 500;
    padding: 4px;
}

.input-bar {
    height: 30px;
    padding-left: 8px;
    border: none;
    font-weight: 400;
}

::placeholder {
    color:black;
    opacity:1;
    font-weight: 400;
}

.fa-chevron-right {
    color:rgb(181, 179, 179);
    width:20px;
    height:20px;
    text-align: center;

}

.form-container button {
    display: flex;
    height:54px;
    width:100px;
    align-self: flex-end;
    background-color: #F69F1D;
    border-radius: 8px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    border:none;
}



