<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pay My Buddy</title>
    <link th:href="@{/css/registration.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div th:if="${error}" style="color: red;">
        <p th:text="${error}"></p>
    </div>

    <form action="#" th:action="@{/registration}" th:object="${CreatedUserDto}" method="post" id="form-container">
            <logo >
                <p id="logo">Pay My Buddy</p>
            </logo>

            <div class="container">
                <input
                        type = "text"
                        id="username"
                        placeholder="Username"
                        class="input-form"
                        th:field="*{username}"
                >
                <input
                        type = "text"
                        id="mail"
                        placeholder="mail"
                        class="input-form"
                        th:field="*{email}"
                >
                <input
                        type = "text"
                        id="password"
                        placeholder="mot de passe"
                        class="input-form"
                        th:field="*{password}"
                >
            </div>

            <button type = "submit"> S'inscrire</button>
    </form>
</body>
</html>