<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/relationPage.css}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
<header>
    <div class="logo">
        <p>Pay My Buddy</p>
    </div>
    <nav class = "nav-bar">
        <a class="nav-bar__button" href="#">transfer</a>
        <a class="nav-bar__button" href="#">Profil</a>
        <a class="nav-bar__button" href="#">Ajouter relation</a>
        <a class="nav-bar__button" href="#" th:href="@{/logout}">Se déconnecter</a>
    </nav>
</header>
<main>
    <div class="input-container">
        <label for="input-bar">Chercher une relation</label>
        <input
                type = "text"
                id="input-bar"
                placeholder="Saisir une adresse mail">
    </div>
    <button class="input-button">Ajouter</button>
</main>
</body>
</html>